/*
    Copyright 2008, 2009, 2010 Boris ARZUR

    This file is part of Kemuri.

    Kemuri is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of
    the License, or (at your option) any later version.

    Kemuri is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public
    License along with Kemuri. If not, see http://www.gnu.org/licenses.
*/

#glisse {
  background-color: #b0c4de;
  width: 30px; height: 30px; bottom: 150px; right: 25px;
  -webkit-border-radius: 7px;
  -webkit-transition: top 0.3s ease-in-out;
  -webkit-box-shadow: rgba(0,0,0,.5) 0px 1px 1px;
  position: absolute;
  text-align: center;
}
