.touch_button
{
background-color: #b0c4de;
width: 40px;
height: 40px;
bottom: 40px;
right: 50px;
-webkit-border-radius: 7px;
-webkit-transition: top 0.3s ease-in-out;
-webkit-box-shadow: rgba(0,0,0,.5) 0px 1px 1px;
position: absolute;
text-align: center;
}
